asgiref
backoff
beautifulsoup4
certifi
chardet
dj-database-url
dj-static
Django
django-ads
django-appconf
django-bootstrap
django-bootstrap-form
django-bootstrap4
django-braces
django-brake
django-classy-tags
django-cleanup
django-crispy-forms
django-debug-toolbar
django-global-permissions
django-imagekit
django-limits
django-localflavor
django-ratelimit
django-sekizai
idna
nose
pilkit
Pillow
python-decouple
python-stdnum
pytz
ratelimit
requests
six
soupsieve
sqlparse
static3
urllib3
django-resized
